{% extends 'base.html.twig' %}

{% block title %}Hello ProfielController!{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.richtext.min.js') }}"></script>
    <script src="{{ asset('assets/js/profieleditor.js') }}"></script>
{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/richtext.min.css') }}">
{% endblock %}
{% block main %}
    <form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <h1 class="medium-12 cell">Mijn profiel</h1>
      <div class="medium-6 cell">
        <label>Voornaam
            <p>{{ user.voornaam }}</p>
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Achternaam
            <p>{{ user.voornaam }}</p>
        </label>
      </div>
      <div class="medium-12 cell">
        <label>Email
            <p>{{ user.voornaam }}</p>
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Geboortedatum
            <p>{{ user.voornaam }}</p>
        </label>
      </div>
      <div class="medium-8 cell">
        <label>telefoonnummer
            <p>{{ user.voornaam }}</p>
        </label>
      </div>
      <div class="medium-12 cell">
        <label>Adres
            <p>{{ user.voornaam }}</p>
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Postcode
            <p>{{ user.postcode }}</p>
        </label>
      </div>
      <div class="medium-8 cell">
        <label>Woonplaats
            <p>{{ user.woonplaats }}</p>
        </label>
      </div>
      <h1 class="medium-12 cell">Motivatie</h1>
            <p>{{ user.beschrijving }}</p>
    </div>
  </div>
    </form>
{% endblock %}