{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}"/>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <span>
        <p>Voornaam</p>{{ form_widget(form.voornaam) }}
        <p>Achternaam</p>{{ form_widget(form.achternaam) }}
    </span>
    <span>
        <p>Email</p>{{ form_widget(form.email) }}
    </span>
    <span>
        <p>Geboortedatum</p>{{ form_widget(form.geboortedatum) }}
        <p>Telefoonnummer</p>{{ form_widget(form.telefoonnummer) }}
    </span>
    <span>
        <p>Adres</p>{{ form_widget(form.adres) }}
    </span>
    <span>
        <p>Postcode</p>{{ form_widget(form.postcode) }}
        <p>Woonplaats</p>{{ form_widget(form.woonplaats) }}
    </span>
{{ form_end(form) }}
{% endblock %}