<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('assets/foundation/css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/basestyle.css') }}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            {% block header %}
                {%  include 'baseheader.html.twig' %}
            {% endblock %}
        </div>
        <div class="mainDiv">
            <div class="rotated_bg"></div>
            <div class="content"> 
                {% block main %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            {% block footer %}
                {% include 'basefooter.html.twig' %}
            {% endblock %}
        </div>
    </body>
    <script src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>
    <!-- this will include every plugin and utility required by Foundation -->
    <script src="{{ asset('assets/foundation/js/foundation.js') }}"></script>
    <script src="{{ asset('assets/fontawesome/js/all.js') }}"></script> 
</html>
